@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
}

html, body{
    height: 100%
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,34,135,0.8463760504201681) 42%, rgba(0,212,255,1) 100%)
}

h1, h2 {
    color: red;
    font-family: "Roboto-Mono", sans-serif;
    text-align: center;
    
}


#application {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    padding: 30px;
    gap: 30px;
}

.memo {
    height: 175px;
    font-size: 15px;
    font-family: "Roboto-Mono", sans-serif;
    border: none;
    border-radius: 13px;
    padding: 20px;
    resize: none;
    box-sizing: border-box;


}

.add-memo {
    height: 175px;
    transition: background 0.3s;
    background: 0, 0, 0, 0.1;
    cursor: pointer;
    font-size: 2.0rem;


}

.add-memo:hover {
    background:0, 0, 0, 0.3;
}