@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    max-height: 100%;
    background-color: #fff9f9;

}

#mpcontainer {
    max-width: 70%;

}

h1  {
    color: rgb(40, 126, 155);
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
    padding: 5%;
    
    
}

p {
    font-family: "sans-serif";
    font-size: 1.3rem;
    padding: 2%;
}

#nav {
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin: 10px auto;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;
}

#nav li {
    display: inline-block;
    padding: 20px;
    
}
h2 {
    color: lightblue;
    font-family: "Roboto Mono", sans-serif;
    text-align: center;


}
 /*Side bar with BMI Calc.*/
.sidenav {
    height: 100%;
    width: 20%;
    padding: 3%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 1px solid ;
    
  }


#btn {
    padding: 2%;
    margin: 3%;
}

#application {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    padding: 30px;
    gap: 30px;
    margin: auto;
}

.memo {
    height: 175px;
    font-size: 15px;
    font-family: "Roboto-Mono", sans-serif;
    border: none;
    border-radius: 13px;
    padding: 20px;
    resize: none;
    box-sizing: border-box;
    background-color: #FFFF88;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.create-memo {
    height: 175px;
    transition:  0.3s;
    background: 0, 0, 0, 0.1;
    cursor: pointer;
    font-size: 2.0rem;


}

.add-memo:hover {
    background:0, 0, 0, 0.3;
}

input[type="text"],
.input-field {
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 5px #888888;

}

input[type="number"],
.input-field {
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 5px #888888;

}

@media screen and (max-width: 800px) {
    .sidenav{
        border-left: none;
        text-align: center;
        bottom: 0;
        left: 10px;
        position: relative;
        width: auto;

        
    }
    
}

@media screen and (max-width: 800px) {
    #mpcontainer{
        max-width: 100%;
        margin: 2%;

        
    }
    
}