@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
}

html, {
    height: 100%
}

body {
    max-height: 100%;
    max-width: 80%;

}
h1  {
    color: lightblue;
    font-family: "Roboto-Mono", sans-serif;
    text-align: left;
    padding: 5%;
    
}

h2 {
    color: lightblue;
    font-family: "Roboto-Mono", sans-serif;
    text-align: left;


}

.sidenav {
    height: 100%;
    width: 20%;
    padding: 3%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 1px solid ;
    
  }


#application {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    padding: 30px;
    gap: 30px;
    margin: auto;
}

.memo {
    height: 175px;
    font-size: 15px;
    font-family: "Roboto-Mono", sans-serif;
    border: none;
    border-radius: 13px;
    padding: 20px;
    resize: none;
    box-sizing: border-box;
    background-color: #FFFF88;


}

.add-memo {
    height: 175px;
    transition:  0.3s;
    background: 0, 0, 0, 0.1;
    cursor: pointer;
    font-size: 2.0rem;


}

.add-memo:hover {
    background:0, 0, 0, 0.3;
}

.calendar {
    border:solid 1px #777;
    width: 300px; 
    height: 400px;
   